<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
    <div class="main">
        <%- include('./partials/navbar') %>
        <div class="hero-section">
            <video src="/images/Introducing the LeBron 17 Nike.mp4" autoplay loop muted></video>
            <div class="shop-btn">
                <a href="/shop">
                    <button>Shop now</button>
                </a>
            </div>
        </div>
        <div class="product-section">
            <div class="product-section-heading">
                <p>Exploer our</p>
                <h1>collections</h1>
            </div>
            <div class="products-showcase">
                <div class="product01 products">
                    <img src="/images/product-testing-temp.png" alt="product01-img">
                    <div class="product-info">
                        <div class="nameandprice">
                            <span>Nike Court Vision Low</span>
                            <span>MRP : ₹5695</span>
                        </div>
                        <div class="readmorebtn">
                            <a href="">shopnow</a>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="#ffffff" fill="none">
                                <path d="M20.0001 11.9998L4.00012 11.9998" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M15.0003 17C15.0003 17 20.0002 13.3176 20.0002 12C20.0002 10.6824 15.0002 7 15.0002 7" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="product02 products">
                    <img src="/images/product-testing-temp02.png" alt="product02-img">
                    <div class="product-info">
                        <div class="nameandprice">
                            <span>Nike Precision 7 EasyOn Electric</span>
                            <span>MRP : ₹5695</span>
                        </div>
                        <div class="readmorebtn">
                            <a href="">shopnow</a>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="#ffffff" fill="none">
                                <path d="M20.0001 11.9998L4.00012 11.9998" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M15.0003 17C15.0003 17 20.0002 13.3176 20.0002 12C20.0002 10.6824 15.0002 7 15.0002 7" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="product03 products">
                    <img src="/images/product-testing-temp03.png" alt="product03-img">
                    <div class="product-info">
                        <div class="nameandprice">
                            <span>Nike Air Force 1 Low Retro Premium</span>
                            <span>MRP : ₹5695</span>
                        </div>
                        <div class="readmorebtn">
                            <a href="">shopnow</a>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="#ffffff" fill="none">
                                <path d="M20.0001 11.9998L4.00012 11.9998" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M15.0003 17C15.0003 17 20.0002 13.3176 20.0002 12C20.0002 10.6824 15.0002 7 15.0002 7" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ourspace-section">
            <div class="ourspace-image">
                <img src="/images/ourspace-image.jpg" alt="ourspace-image">
            </div>
            <div class="ourspace-text">
                <h1>Our history</h1>
                <p>Founded on January 25, 1964, as “Blue Ribbon Sports” (BRS) by University of Oregon track coach Bill Bowerman and his former University of Oregon student Phil Knight.</p>
                <p>Initially operated as a distributor for the Japanese shoe maker Onitsuka Tiger, selling their shoes out of the trunk of Knight’s car at local track meets.</p>
                <p>In 1966, BRS opened its first retail outlet in Santa Monica, California.</p>
                <p>In 1971, the company was officially renamed Nike, Inc. after the Greek victory.</p>
            </div>
        </div>
    </div>
</body>
</html>